html {
    overflow-x: hidden;
}

body {
    background-color: #f2f2f2;
}

:root {
    --primary-color: #0bc19f;
}

/* header style */
header {
    background-color: #fff;
}
.mobile-menu-icon {
    filter: invert(0%) sepia(8%) saturate(100%) hue-rotate(152deg) brightness(0)
        contrast(86%);
}
/* --- */

/* main style */
main {
    padding: 0;
}
.welcome-article {
    padding: 0;
    padding-bottom: 75px;
}
main .flex-column {
    padding: 0;
}
.header-subnavbar {
    padding: 0;
}
.header-subnavbar__item {
    list-style: none;
}
.header-subnavbar__link {
    display: block;
    padding: 20px 20px 20px 60px;
    text-decoration: none;
    border-top: 1px solid #00000025;
    color: var(--primary-color);
}
.dropdown-txt {
    display: block;
    padding: 20px 20px 20px 30px;
    color: #00000090;
}
.main-bg {
    background-image: url(../img/imagens_inicio/welcome-bg.jpg);
    height: 450px;
    background-size: cover;
    background-position: center -100px;
}
.welcome-title {
    padding: 100px 50px 0 50px;
    height: calc(100% - 100px);
    background-image: linear-gradient(to right, #00000075 75%, transparent);
    color: #fff;
    margin: 0;
    font-size: 42px;
    width: 550px;
}

/* redirect card style */
.redirect-flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: -75px;
}
.redirect-card {
    text-align: center;
    display: flex;
    width: fit-content;
    background-color: #fff;
    box-shadow: 0 15px 20px #00000020;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}
.redirect-card__image {
    width: 80px;
    margin: 40px 0 20px 0;
}
.redirect-card__text {
    position: relative;
    width: 225px;
    font-size: 20px;
    padding-bottom: 15px;
}
.redirect-card__text::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    bottom: 0;
    border-radius: 10px;
    height: 3px;
    background-color: var(--primary-color);
}
.redirect-card__link {
    display: block;
    width: 450px;
    background-color: #000;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    color: #fff;
    margin-top: 30px;
    border-radius: 0 0 30px 30px;
}
/* --- */
/* articles style */
article {
    padding: 80px 0;
}
article .flex {
    gap: 50px;
}
article .flex-column {
    width: 530px;
}

.benefits-illustration {
    border-radius: 30px;
    box-shadow: 0 10px 20px #00000015;
    width: 100%;
}
.benefits-article .b-image-container {
    width: 40vw;
}
.platform-details-article .pd-image-container {
    width: 35vw;
    display: flex;
    align-items: flex-end;
}
.platform-details-article {
    background-color: #f2f2f2;
    padding: 0;
}
.platform-details-illustration {
    width: 100%;
}
.benefits-title {
    font-size: 20px;
    color: #878585;
    margin: 0;
}
.benefits-subtitle {
    font-weight: 400;
    font-size: 36px;
    margin: 15px 0;
}
.benefits-desc {
    font-size: 18px;
    color: #878585;
    margin: 0;
}
.benefits-link {
    padding: 15px 0;
    width: 150px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    display: inline-block;
    background-color: var(--primary-color);
    margin-top: 20px;
}

.tutorial-flex {
    display: flex;
    justify-content: center;
}
.tutorial-article .flex-column {
    width: unset;
}
.tutorial-article__title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    color: #097e69;
}
.tutorial-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
.tutorial-article {
    background-color: #fff;
}
.tutorial-step {
    width: 300px;
    gap: 20px;
    display: flex;
}
.tutorial-step__name {
    margin: 0;
    color: #097e69;
}
.tutorial-step__desc {
    color: #878585;
}
.tutorial-step__number {
    display: inline-block;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
}

.details-flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 530px;
}
.detail {
    display: flex;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000015;
}
.detail-icon {
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    background-color: #0cd3ae6b;
}
.detail-title {
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.detail-desc {
    font-size: 18px;
    font-weight: 700;
    color: #878585;
}
.pd-flex {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.partners-article {
    padding: 60px 0 0 0;
    text-align: center;
    background-color: #fff;
}
.partners-title {
    font-size: 36px;
    margin: 0;
    color: #097e69;
}
.partners-subtitle {
    font-size: 20px;
    margin: 10px;
    font-weight: 400;
    color: #878585;
}

/* carrousel style */
[carrousel] {
    display: flex;
    position: relative;
    height: 250px;
}
[carrousel]::before {
    content: "";
    display: block;
    padding-bottom: 50%;
}
[carrousel] [name~="carrousel"] {
    display: none;
}
[carrousel] [name~="carrousel"]:checked + .slide {
    pointer-events: auto;
    opacity: 1;
}
[carrousel] [name~="carrousel"]:checked + .slide .slide-content {
    opacity: 1;
}
[carrousel] .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
[carrousel] .slide-content {
    opacity: 0;
    transition: opacity 1s;
}
[carrousel] .back,
[carrousel] .forward {
    display: block;
    position: absolute;
    top: calc(50% - 2rem);
    height: 4rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    background-color: #f2f2f2;
    border-radius: 100px;
    color: #b1b1b1;
    box-shadow: 0 2px 0 0 #00000015;
    transform: scale(0.9);
    transition: transform 0.2s;
}
[carrousel] .back:hover,
[carrousel] .forward:hover {
    transform: scale(1);
    cursor: pointer;
}
[carrousel] .back {
    left: 15vw;
}
[carrousel] .forward {
    right: 15vw;
}
/* --- */
.partner-logo {
    width: 200px;
}

.social-container:not(:last-child) {
    margin-bottom: 20px;
}
.social-container {
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.social-icon {
    width: 20px;
}
.social-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
.faq-title {
    text-align: center;
    color: #097e69;
    margin-bottom: 50px;
}

/* custom details style */
details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
details summary::-webkit-details-marker {
    display: none;
}

details summary {
    width: 100%;
    border-bottom: 1px solid #878585;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    padding: 25px 0;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    content: "+";
    color: #333333;
    top: 50%;
    position: absolute;
    font-size: 16px;
    line-height: 0;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}
details[open] summary:after {
    transform: rotate(45deg);
}
details summary {
    font-size: 16px;
    outline: 0;
    color: #333333;
}
details p {
    font-size: 16px;
    margin: 0 0 20px;
    padding-top: 20px;
    color: #333333;
}

/* --- */
/* --- */
/* --- */

/* footer style */
footer {
    padding-top: 50px;
    background-color: var(--primary-color);
}
footer span {
    color: #fff;
    display: block;
}
footer .flex {
    gap: 50px;
}
footer .flex-column {
    width: 20vw;
}
footer .enterprise-logo {
    margin-bottom: 20px;
}
.footer-navbar {
    padding: 0;
    margin-top: 30px;
}
.footer-navbar__item {
    list-style: none;
    margin: 20px 0;
}
.footer-navbar__link {
    color: #fff;
    text-decoration: none;
}
.legal-infors {
    padding: 50px;
    color: #fff;
    background-color: #097e69;
    margin-top: 50px;
}
.legal-infors h1 {
    font-size: 16px;
}
.legal-infors h2 {
    font-size: 12px;
}
.legal-infors p {
    font-size: 12px;
}
.legal-infors p a {
    color: #fff;
    text-decoration: none;
}
/* --- */

.chat {
    position: fixed;
    bottom: 120px;
    right: 20px;
    background-color: #ffffff;
    opacity: 0;
    box-shadow: 0 10px 10px #00000015;
    width: 360px;
    pointer-events: none;
    border-radius: 15px 15px 0 15px;
    transition: 0.6s ease;
}
.show-chat {
    pointer-events: unset;
    opacity: 1;
    bottom: 130px;
}
.chat::after {
    content: "";
    position: fixed;
    display: block;
    border: 30px solid transparent;
    border-top: 30px solid #fff;
    right: 20px;
}
.chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
    margin-top: -20px;
    color: #fff;
    box-shadow: 0 0 10px #00000015;
    background-color: var(--primary-color);
}
.chat-header span {
    font-size: 18px;
}
.chat-submit-btn {
    background-color: var(--primary-color);
    margin-top: 20px;
    color: #fff;
}
#chat-form {
    padding: 15px;
}
.chat label {
    display: block;
    color: #878585;
    font-size: 12px;
    margin: 10px 0;
}
.chat input {
    display: block;
    width: 100%;
    outline: none;
    text-align: center;
    font-size: 14px;
    padding: none;
    box-sizing: border-box;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px #00000025;
}
.chat-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #0cd3af;
}
.chat-icon {
    width: 25px;
}

/* media query */
@media (max-width: 1350px) {
    .partners-grid {
        grid-template-columns: auto auto auto auto;
    }
    .tutorial-grid {
        grid-template-columns: auto auto;
        gap: 100px;
    }
}
@media (min-width: 1257px) {
    .header-navbar__item.dropdown {
        position: relative;
    }
    .dropdown-txt {
        display: block;
        padding: 15px 30px;
    }
    .header-subnavbar__item {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .header-subnavbar__link {
        display: block;
        padding: 15px 25px;
        min-width: 150px;
        border-top: none;
        color: #333333;
        text-decoration: none;
    }
    .header-subnavbar__item:not(:last-child) a {
        border-bottom: 3px solid #f2f2f2;
    }
    .header-subnavbar {
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        position: absolute;
        padding: 0;
        top: 50px;
        left: 0;
        background-color: #fff;
        border: 3px solid #f2f2f2;
        box-shadow: 0 6px 10px #00000015;
        transition: .2s;
    }
    .show-header-subnavbar {
        opacity: 1;
        pointer-events: unset;
        transform: translateY(0);
    }
    .header-subnavbar::after {
        content: '';
        position: absolute;
        border: 10px solid transparent;
        border-bottom: 10px solid #f2f2f2;
        top: -1px;
        left: 60px;
        transform: translate(0, -100%);
    }
    .header-navbar__link {
        color: #000;
    }
    .header-navbar__link.filled {
        width: 150px;
        text-align: center;
        display: block;
        padding: 10px 0;
        border-radius: 50px;
        background-color: #0cd3af;
        color: #fff;
    }
    .header-navbar__link.outlined {
        outline: 3px solid #000;
        border-radius: 50px;
        width: 150px;
        text-align: center;
        display: block;
        padding: 10px 0;
        margin-left: 5px;
    }
}
@media (max-width: 1150px) {
    article .flex-column {
        width: 45vw;
    }
    .partners-grid {
        grid-template-columns: auto auto auto;
    }
}
@media (max-width: 1050px) {
    .social-container {
        justify-content: center;
    }
    footer .flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
    }
    footer .flex-column {
        width: 80vw;
    }
    .details-flex {
        width: unset;
    }
    .detail {
        width: 80vw;
    }
    .pd-flex {
        gap: 50px;
        align-items: center;
        flex-direction: column-reverse;
    }
    .platform-details-article {
        padding-top: 50px;
    }
    .platform-details-article .pd-image-container {
        width: fit-content;
    }
    .platform-details-illustration {
        width: 350px;
    }
}
@media (max-width: 850px) {
    .main-bg {
        background-position: 0 0;
        height: 400px;
    }
    .partners-grid {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 770px) {
    .tutorial-grid {
        grid-template-columns: auto;
    }
    .faq-title {
        font-size: 26px;
    }
    .partners-title {
        font-size: 26px;
    }
    .partners-subtitle {
        font-size: 18px;
    }
    .faq-article .flex {
        gap: 60px;
    }
    article .flex {
        flex-direction: column;
    }
    article .media-flex-d-reverse {
        flex-direction: column-reverse;
    }
    .benefits-subtitle,
    .called-subtitle {
        font-size: 26px;
    }
    article .flex-column {
        width: 90vw;
    }
    .benefits-illustration {
        border-radius: 0;
        height: 400px;
        object-fit: cover;
    }
    .benefits-article .b-image-container {
        width: 100vw;
    }
}
@media (max-width: 600px) {
    [carrousel] .back,
    [carrousel] .forward {
    display: block;
    position: absolute;
    top: calc(50% - 2rem);
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.8rem;
    background-color: #f2f2f2;
    border-radius: 100px;
    color: #b1b1b1;
    box-shadow: 0 2px 0 0 #00000015;
    transform: scale(0.9);
    transition: transform 0.2s;
}
[carrousel] .back {
    left: 10vw;
}
[carrousel] .forward {
    right: 10vw;
}
    .partner-logo {
        width: 150px;
    }
    .partners-grid {
        padding: 0;
        gap: 75px;
        grid-template-columns: auto;
    }
}
/* --- */
